.container{
    width: 1080px;
    background-color: #ccc;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
}
.leftblock{
    width: 25%;
    background-color: #369;
}
.rightblock{
    width: 75%;
    background-color: #0c7f99;
}
#editprogramm{
    margin: 5px 30px;
}
.editprogramm{
    border: 1px solid #0c1299;
    border-radius: 3px;
}
.data_training{
    border: 1px solid #0c1299;
    border-radius: 3px;
    margin-top: 5px;
}
.data_training ul li{
    list-style: none;
    width: 95%;
    height: 30px;
    background-color: #4aa268;
    margin-top: 10px;
    margin-left: -15px;
    border: 2px solid #04a282;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}
#active{
    background-color: #04a282;
}
.addbutton{
    width: 50px;
    margin: 15px;

}